In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = ('http://bvmf.bmfbovespa.com.br/indices/ResumoCarteiraTeorica.aspx?Indice=IBOV&idioma=pt-br')
dados = pd.read_html(url)

In [3]:
df = dados[0]
df['Part. (%)'] = df['Part. (%)'] / 1000 # Ajuste para a porcentagem certa

In [4]:
unicos_codigos = df['Código'].unique()
verificacao = len(df['Código']) == len(unicos_codigos)

if verificacao == True:
    print('Não tem informaçōes duplicadas, pode seguir')
else:
    print('Não use esse dados')

Não tem informaçōes duplicadas, pode seguir

In [5]:
df.head()

  Código       Ação      Tipo  Qtde. Teórica  Part. (%)
0  ABEV3  AMBEV S/A        ON  4.354.228.928      2.994
1  AZUL4       AZUL     PN N2    317.471.474      0.376
2  B3SA3         B3     ON NM  2.046.021.644      6.825
3  BBAS3     BRASIL  ON EJ NM  1.418.466.803      2.544
4  BBDC3   BRADESCO     ON N1  1.253.093.907      1.325

In [6]:
df.sort_values(['Part. (%)'], ascending=False, inplace = True)
df.drop(labels = 75, inplace = True)

In [7]:
df.head()

   Código          Ação      Tipo  Qtde. Teórica  Part. (%)
70  VALE3          VALE     ON NM  3.292.010.807     10.941
2   B3SA3            B3     ON NM  2.046.021.644      6.825
44  ITUB4  ITAUUNIBANCO  PN EJ N1  4.738.562.684      6.211
56  PETR4     PETROBRAS     PN N2  4.520.185.835      5.576
5   BBDC4      BRADESCO     PN N1  4.261.649.634      4.866

In [12]:
selecao = df['Tipo'] == 'ON NM'
acoes_ordinarios = df[selecao]
dez_primieras_on = acoes_ordinarios.head(10)

In [16]:
dez_primieras_on

   Código          Ação   Tipo  Qtde. Teórica  Part. (%)
70  VALE3          VALE  ON NM  3.292.010.807     10.941
2   B3SA3            B3  ON NM  2.046.021.644      6.825
49  MGLU3   MAGAZ LUIZA  ON NM    661.834.080      3.141
73  WEGE3           WEG  ON NM    689.271.972      2.539
45  JBSS3           JBS  ON NM  1.620.646.499      2.079
64  SUZB3   SUZANO S.A.  ON NM    725.859.318      2.001
53  NTCO3  GRUPO NATURA  ON NM    706.484.775      1.891
48  LREN3  LOJAS RENNER  ON NM    785.308.019      1.855
35  GNDI3   INTERMEDICA  ON NM    458.380.483      1.746
72  VVAR3     VIAVAREJO  ON NM  1.443.662.628      1.612

In [20]:
dez_primieras_on.to_csv('../dados/dez_primeiros_on_do_index_bovespa', index = False)